<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JFSD_SKILLING-4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>adminlogin</display-name>
    <servlet-name>adminlogin</servlet-name>
    <servlet-class>admin.adminlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlogin</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managerLogin</display-name>
    <servlet-name>managerLogin</servlet-name>
    <servlet-class>manager.managerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managerLogin</servlet-name>
    <url-pattern>/managerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>customerlogin</display-name>
    <servlet-name>customerlogin</servlet-name>
    <servlet-class>admin.customerlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customerlogin</servlet-name>
    <url-pattern>/customerlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>displayManagers</display-name>
    <servlet-name>displayManagers</servlet-name>
    <servlet-class>admin.displayManagers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayManagers</servlet-name>
    <url-pattern>/displayManagers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addManager</display-name>
    <servlet-name>addManager</servlet-name>
    <servlet-class>admin.addManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addManager</servlet-name>
    <url-pattern>/addManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showProfits</display-name>
    <servlet-name>showProfits</servlet-name>
    <servlet-class>admin.showProfits</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showProfits</servlet-name>
    <url-pattern>/showProfits</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewMovies</display-name>
    <servlet-name>viewMovies</servlet-name>
    <servlet-class>manager.viewMovies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewMovies</servlet-name>
    <url-pattern>/viewMovies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addMovie</display-name>
    <servlet-name>addMovie</servlet-name>
    <servlet-class>manager.addMovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addMovie</servlet-name>
    <url-pattern>/addMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addCustomer</display-name>
    <servlet-name>addCustomer</servlet-name>
    <servlet-class>customer.addCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCustomer</servlet-name>
    <url-pattern>/addCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewbookings</display-name>
    <servlet-name>viewbookings</servlet-name>
    <servlet-class>customer.viewbookings</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewbookings</servlet-name>
    <url-pattern>/viewbookings</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bookTickets</display-name>
    <servlet-name>bookTickets</servlet-name>
    <servlet-class>customer.bookTickets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookTickets</servlet-name>
    <url-pattern>/bookTickets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteBooking</display-name>
    <servlet-name>deleteBooking</servlet-name>
    <servlet-class>customer.deleteBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteBooking</servlet-name>
    <url-pattern>/deleteBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertBookings</display-name>
    <servlet-name>insertBookings</servlet-name>
    <servlet-class>customer.insertBookings</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertBookings</servlet-name>
    <url-pattern>/insertBookings</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateNumOfTickets</display-name>
    <servlet-name>updateNumOfTickets</servlet-name>
    <servlet-class>customer.updateNumOfTickets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateNumOfTickets</servlet-name>
    <url-pattern>/updateNumOfTickets</url-pattern>
  </servlet-mapping>
</web-app>